{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">IdM covers issues such as how users gain an identity, the protection of that identity and
            the technologies supporting that protection.</h1>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Register</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="{% static 'img/demo-screen-1.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">What is IdM?</h2>
        <p>Identity management (IdM) is the task of controlling information about users on computers.
          Such information includes information that authenticates the identity of a user,
          and information that describes information and actions they are authorized to access and/or perform.
          It also includes the management of descriptive information about the user and how and by whom that
          information
          can be accessed and modified. Managed entities typically include users, hardware and network resources and
          even
          applications.</p>
        <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2> <b>Verify the User</b> </h2>
      <h3>Never Trust, Always Verify</h3>
      <p class="text-muted">Confirm Jane’s identity by asking her to provide something she has,
        something she knows or something she is. Also leverage user behavior unique to Jane and context such as
        location,
        day and time of login as additional factors to ensure authenticity.</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="{% static " img/demo-screen-1.jpg" %}" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-screen-smartphone text-primary"></i>
                <h3>Validate The Device</h3>
                <p class="text-muted">Make sure Jane is using a trusted endpoint before granting access to resources!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-camera text-primary"></i>
                <h3>Limit Access & Privilege</h3>
                <p class="text-muted">Just Enough Access, no more no less!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-present text-primary"></i>
                <h3>Next Gen Security</h3>
                <p class="text-muted">Protects against the leading point of cyber attacks and data breach — compromised
                  credentials.!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-lock-open text-primary"></i>
                <h3>Zero Trust Security</h3>
                <p class="text-muted"> Assumes users inside a network are no more trustworthy than those outside the
                  network.!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}