{% extends "base.html" %}
{% load static %}

{% block landing %}
<!--Mask-->
<div id="intro" class="view mt-4">
    <!--Mask-->
    <div id="intro" class="view">

        <div class="mask rgba-black-strong">

            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                <div class="row d-flex justify-content-center text-center">

                    <div class="col-md-10">

                        <!-- Heading -->
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Identity Management</h2>

                        <!-- Divider -->
                        <hr class="hr-light">

                        <!-- Description -->
                        <h4 class="white-text my-4">Identity management (IdM) is the task of controlling information
                            about users on computers. Such information includes information that authenticates the
                            identity of a user, and information that describes information and actions they are
                            authorized to access and/or perform. It also includes the management of descriptive
                            information about the user and how and by whom that information can be accessed and
                            modified. Managed entities typically include users, hardware and network resources and even
                            applications.
                        </h4>
                        <a href="{% url 'signup' %}" class="btn btn-outline-white">Register<i class="fa fa-book ml-2"></i></a>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!--/.Mask-->

</div>
<!--/.Mask-->
{% endblock landing %}