{% extends 'base.html' %}
{% load static %}

{% block main_content %}
{% for usr in users %}
<div class="row" style="margin-top: 6px; margin-bottom: 6px; background-color: #9ccff7">
  <div class="col-2" style="padding-top: 10px;">
    {% if usr.profile_face %}
    <img src="{{ usr.profile_face.url }}" height="170px" width="170px" alt="user" srcset="">
    {% else %}
    {% endif %}
  </div>
  <div class="col-9" style="padding-top: 10px;">
    <div class="row">
      <div class="col-3">
        <h6><b>Name</b></h6>
        <p>{{ usr.name }}</p>
        <hr>
        <h6><b>Marital Status</b></h6>
        <p>{{ usr.marital_status }}</p>
      </div>
      <div class="col-3">
        <h6><b>Residence</b></h6>
        <p>{{ usr.residence }}</p>
        <hr>
        <h6><b>Email</b></h6>
        <p>{{ usr.email }}</p>
        <hr>
        <h6>Phone Number</h6>
        <p>09087667766</p>
      </div>
      <div class="col-5">
        <h6><b>Education</b></h6>
        <p>{{ usr.education }}</p>
        <hr>
        <h6>Occupation</h6>
        <p>{{ usr.occupation }}</p>
        <hr>
        <h6><b>Bio</b></h6>
        <p style="text-align: justify;"> {{ usr.bio }} </p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}